.main-container {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  height: auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10001;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
  border-radius: 7px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.action-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
